

  #india {
    /*    fill: #00BCD4;
    opacity: .7; */
    stroke: #101010;
    stroke-width: .6;
  }

  div.tooltip {
   
    text-align: center;
    padding: 0.5em;
    font-size: 10px;
    color: #222;
    background: #FFF;
    border-radius: 2px;
    pointer-events: none;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
  }

  .key path {
      display: none;
  }

  .key line {
      stroke: #000;
      shape-rendering: crispEdges;
  }

  .key text {
      font-size: 10px;
  }

  .key rect{
    stroke-width: .4;
  }